@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* Global Colors */
  --color-primary: #fff;
  --color-secondary: #000;
  --color-accent: #f6f7fb;
  --color-yellow: #f8db77;
  --color-emerald: #3eb6aa;
  --color-pink: #e77ca5;
  --color-purple: #cbabf7;
  --color-blue: #93bbf1;
  --color-orange: #f2b565;
  --color-green: #3eb6aa73;

  /* Global Font Colors */
  --primary-font: #000;
  --secondary-font: #fff;
}